@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "BioRhyme", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.center-text {
  margin-left: auto;
  margin-right: auto;
}

/* slide in to the right */
.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Keyframe fade in */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 15s linear infinite;
  gap: 450px;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  flex-shrink: 0;
  white-space: nowrap;
  font-size: 36px;
}

.content {
  z-index: 999;
}

.login-input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 1px solid rgb(95, 95, 95);
  color: black;
}

.login-input1 {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 1px solid rgb(95, 95, 95);
  color: black;
  background-color: transparent;
}

.login-input1:focus {
  outline: none;
}
